.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.about-title{
display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;

}
.about-title h1{
  font-weight: 700;
  font-size: 50px;
}

.about-sections{
  display: flex;
  gap: 60px;
}
.about-left img{
  height: 500px;
}
.about-right{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-para{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  gap: 20px;
  color: var(--body);
}
.about-skills{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.about-skill{
  display: flex;
  gap: 40px;
  align-items: center;
  transition: 0.3s;
}
.about-skill p{
  color: var(--body);
  min-width: 200px;
  font-size: 18px;
  font-weight: 500;
}
.about-skill hr{
  outline: none;
  border: none;
  width: 60%;
  height: 7px;
  background:var(--primary-color);
  border-radius: 8px;
}
.about-achievements{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}
.about-achievement{
  display:flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.5s;
  align-items: center;
}
.about-achievement h1{
  font-size: 40px;
  background: linear-gradient(267deg, #DA7C25, #B923E1);
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.about-achievement p{
  font-size: 22px;
  font-weight: 500;
}
.about-skill:hover{
  scale: 1.02;
  transition: 0.3s;
}
.about-achievement:hover{
  scale: 1.1;
  transition: 0.5s;
}