
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 50px;
}
.services-title{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;

}
.services-title p{
  font-size: 16px;
font-weight: 600;
}
.services-title h1{
    font-size: 50px;
    font-weight: 700;
    text-align: left;
}

.services-container{
  width: 100%;
  height: 400px;
  display: flex;
  margin-bottom: 80px;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

}

.services-format{
  height: 320px;
  min-width: 180px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--bg-shade);
  gap: 15px;
}

.services-format .icon{
  background-color: #fff;
  padding: 20px;
  font-size: 22px;
  color: rgb(114, 158, 143);
}


.services-format h4{
  font-size: 22px;

}

.services-format p{
  color: var(--body);
  line-height: 28px;
  max-width: 350px;
  font-size: 18px;
}

.services-format:hover{
  border-bottom: 4px solid var(--primary-color);
}
