.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
gap: 30px;
background-color: var(--bg-shade);
padding: 2.5% 5%;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer-top-left p{
  font-size: 20px;
  max-width: 100px;

}
 .footer-right{
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
}

.footer-bottom{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  color: var(--body);
}
.footer-bottom p:not(.footer-bottom p:nth-last-child(1)):hover{
  text-decoration: underline;
}


@media (max-width:376px) {
  .footer{
    padding-top:8vw ;
  }
    .footer-bottom{
      font-size: 13px;
    }
}